@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

/* * {
  font-family: "SeoulNamsanM";
} */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  background: cornflowerblue;
  /* 스크롤바의 색상 */
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  /* background: rgba(49, 51, 56, 0.3); */
  background: transparent;
  /*스크롤바 뒷 배경 색상*/
}